run = "cd crypto-stimulator && npm start"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]
entrypoint = "crypto-stimulator/src/App.js"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["cd crypto-stimulator && npm run build"]
publicDir = "crypto-stimulator/build"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Crypto Stimulator"

[[workflows.workflow]]
name = "Crypto Stimulator"
author = 43448675
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crypto-stimulator && npm start"