run = "cd progressive-crypto-app && npm start"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]
entrypoint = "progressive-crypto-app/src/App.js"

[nix]
channel = "stable-24_05"
packages = ["nano"]

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["cd progressive-crypto-app && npm run build"]
publicDir = "progressive-crypto-app/build"
run = ["sh", "-c", "node server.js"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Crypto Exchange with Email Service"

[[workflows.workflow]]
name = "Crypto Stimulator"
author = 43448675
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd progressive-crypto-app && npm start"

[[workflows.workflow]]
name = "Crypto Exchange"
author = 43448675
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd progressive-crypto-app && npm start"

[[workflows.workflow]]
name = "Trust Crypto Wallet"
author = 43448675
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run install-all && npm run dev"

[[workflows.workflow]]
name = "Trust Wallet App"
author = 43448675
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd trust-wallet-app && npm start"

[[workflows.workflow]]
name = "Crypto Exchange Firebase"
author = 43448675
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node crypto-exchange-app/server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crypto-exchange-app && npm start"

[[workflows.workflow]]
name = "Crypto Exchange with Email Service"
author = 43448675
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crypto-exchange-app && node server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crypto-exchange-app && npm start"
